{% extends 'base.html' %}
{% block content %}

<body id="about-body">
    <div class="container">
        <div class="row mt-5 justify-content-center align-items-center row-cols-1" id="about-position-1">
            <div class="col-sm-8 d-flex justify-content-center text-center">
                <p class="fs-5 text-center rounded p-2" id="about-content">
                    Photo Wall is an app built with Python & Django that provides a canvas to upload your 
                    favorite photos to create your own beautiful digital 'wall' of photos. Each photo also 
                    has its own clickable details page that displays that photo's unique information.
                </p>
            </div>
            <div class="col-sm-8 d-flex justify-content-center text-center">
                <p class="fs-5 text-center rounded p-2" id="about-content">
                    To get started, click <a href="{% url 'signup' %}" class="btn btn-success btn-sm">Here</a> to create a new user account 
                </p>
            </div>
            <div class="col-sm-8 d-flex justify-content-center text-center">
                <p class="fs-5 text-center rounded p-2" id="about-content">
                    Click <a href="{% url 'example' %}" class="btn btn-primary btn-sm">Here</a> to view an example Photo Wall
                </p>
            <div>
        </div>
    </div>
</body>

{% endblock %}