{% extends 'base.html' %}
{% block content %}

<body id="home-body">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <h1 class="display-5 rounded-pill px-4 py-1" id="home-heading">Welcome to Photo Wall</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center row-cols-auto" id="home-position">
            <div class="col">
                <p class="fs-5 text-center rounded-pill px-3 py-2" id="home-content">
                    Create an account to get started, or click on 'About' for more info
                </p>
            </div>
        </div>
    </div>

</body>

{% endblock %}