* {
    font-family: 'Quicksand', sans-serif;
}


/* BASE */


.navbar-custom {
    background-color: #c4c6d4;
}

#linkedin-link {
    border-radius: 50%;
    background-color: #0082ca;
    border: none;
}

#github-link {
    border-radius: 50%;
    background-color: #333333;
    border: none;
}

#linkedin-link:hover {
    transition: 0.5s;
    box-shadow: 0 0 12px #0082ca;
}

#github-link:hover {
    transition: 0.5s;
    box-shadow: 0 0 12px #333333;
}
/* .main-area {
    had container and h-100 listed
} */

.footer-custom {
    background-color: #c4c6d4;
}


/* HOME */


#home-body {
    background: url("/static/images/photowall-far-away.jpeg") no-repeat center center fixed;
    background-size: cover;
    /* background: url(/main_app/static/images/photowall-close-up.jpeg); */
    /* background: url(https://i.imgur.com/2DktRqo.jpg); */
}

#home-heading {
    width: fit-content;
    background-color: whitesmoke;
}
#home-position {
    height: 300px;
}

#home-content {
    width: fit-content;
    background-color: whitesmoke;
}


/* ABOUT */


#about-body {
    background: url("/static/images/photowall-medium.jpeg") no-repeat center center fixed;
    background-size: cover;
}

#about-position-1 {
    height: 300px;
}

#about-content {
    width: fit-content;
    background-color: whitesmoke;
}

#about-position-2 {
    height: 100px;
}


/* PHOTOS INDEX */


.index-body {
    background-color: whitesmoke;
}

.page-title {
    text-align: center;
}
.card-content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.card-content .content-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.card-content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

#wall-img {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    /* border-radius: 5px; */
}

.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    padding-left: 1em;
    padding-right: 1em;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.card-content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.fadeIn-bottom {
    top: 80%;
}


/* PHOTOS DETAIL */


.detail-body {
    background-color: whitesmoke;
}

#detail-photo {
    max-height: 750px;
}


/* SIGNUP */

/* LOGIN */

/* PHOTO_FORM */


.form-body {
    background-color: whitesmoke;
}


/* PHOTO_CONFIRM_DELETE */


.delete-body {
    background-color: whitesmoke;
}

