{% extends 'base.html' %}
{% block content %}

<div class="page-title mt-4">
    <h1>{{ photo.name.capitalize }}'s Detail Page</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-9 p-3">
            {% for photofile in photo.photofile_set.all %}
            <img src="{{ photofile.url }}" alt="{{ photo.name }}" class="img-fluid">
            {% empty %}
            <div class="noPhoto">No Photo Uploaded Yet. Please upload your photo below.</div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Photo Details
                    </h5>
                    <p class="card-text">
                        Name: {{ photo.name }}<br>
                        Description: {{ photo.description }}
                    </p>
                    <a href="{% url 'photos_update' photo.id %}" class="btn btn-primary">EDIT</a>
                    <a href="{% url 'photos_delete' photo.id %}" class="btn btn-danger">DELETE</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Photo Upload
                    </h5>
                    <form action="{% url 'add_photo' photo.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="photo-file">
                        <br>
                        <br>
                        <input type="submit" class="btn btn-success" value="Upload Photo">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}