{% extends 'base.html' %}
{% block content %}
<div class="page-title mt-4">
    <h2>Allen's Photo Wall</h2>
</div>
<div class="container mt-5">
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card-content">
                <a href="{% url 'photo_detail' photo.id %}">
                    <div class="content-overlay"></div>
                    {% for photofile in photo.photofile_set.all %}
                    <img class="content-image" id="wall-img" src="{{ photofile.url }}">
                    {% endfor %}
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{ photo.name }}</h3>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}